## 1. Print

In [1]:
# Print
print("Hello World!")
print("Hello Again")

Hello World!
Hello Again

In [2]:
# Q1. Print another line.

In [3]:
# This is a comment!
# print("This won't run.")
print("But this will.")
print("And # this one")
# Note that '#' inside a string will be put into the string until the ending "

But this will.
And # this one

In [4]:
# In jupyter notebook, the last line will be printed automatically
"This is magic!"

'This is magic!'

## 2. Numbers
• +: plus (add)

• -: minus (subtract)

• /: slash (divide)

• *: asterisk (multiply)

• %: percent (mod)

• <: less-than

• >: greater-than

• <=: less-than-equal

• >=: greater-than-equal

In [5]:
print("25 + 30 / 6 = ", 25 + 30 / 6)
print("100 - 25 * 3 % 4 = ", 100 - 25 * 3 % 4)
print("3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6 = ", 3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)

25 + 30 / 6 =  30.0
100 - 25 * 3 % 4 =  97
3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6 =  6.75

In [6]:
print("3 + 2 < 5 - 7 ? ", 3 + 2 < 5 - 7)

3 + 2 < 5 - 7 ?  False

In [7]:
print("3^2 = ", 3**2)
# Alternative
print("4^2 = ", pow(4, 2))

3^2 =  9
4^2 =  16

In [8]:
print("Is it greater?", 5 > -2)
print("Is it greater or equal?", 5 >= -2)
print("Is it less or equal?", 5 <= -2)

Is it greater? True
Is it greater or equal? True
Is it less or equal? False

In [9]:
# Q2. Find something you need to calculate and write a new line to do it!

## 3. Variables and Strings
In programming, a variable is nothing more than a name for something, similar to how my name. Programmers use these variable names to make their code read more like English.

In [10]:
# Integers is the simplest type. 
# Integers contain 32 bits (four bytes) and thus range from 0 to  2^32 , 
# or 0 to 65535 for positive integers, and  −2^31  to  2^31 , 
# or -32768 to 32767, for signed integers.
x = 100
type(x)

int

In [11]:
x = int(1.2) # this will take the integer part 
x

1

In [12]:
# Bool is used to represent True and False values. 
# Usually they arise as the result of a logical operation
x = True
type(x)

bool

In [13]:
# True is actually equal to 1
print(x == 1)
print(type(x))

True
<class 'bool'>

In [14]:
sum([x,x,x,0])

3

In [15]:
# = is called (equals) to give data a name!
cars = 100
space_in_a_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_a_car
average_passengers_per_car = passengers / cars_driven
average_passengers_per_car

3.0

In [16]:
print("There are", cars, "cars available.")
print("There are only", drivers, "drivers available.")
print("There will be", cars_not_driven, "empty cars today.")
print("We can transport", carpool_capacity, "people today.")
print("We have", passengers, "to carpool today.")

There are 100 cars available.
There are only 30 drivers available.
There will be 70 empty cars today.
We can transport 120.0 people today.
We have 90 to carpool today.

In [17]:
# Q3. Typo error in this line, fix it!
# NameError: name 'average_passengers_per_ca' is not defined
print("We need to put about", average_passengers_per_ca, "in each car.")

NameError: name 'average_passengers_per_ca' is not defined

##### Strings!

In [16]:
# Declare a string like this
sentence = "It's the end of the hurricane."
# And get the length!
len(sentence)

30

In [17]:
# A string can be treated like a list of characters
"This is a string"[2] # => i

'i'

In [18]:
# [start : stop : step] is called slicing. 
# it returns a slice object representing the set of indices specified by range(start, stop, step).
"This is a string"[0:9]

'This is a'

In [19]:
"This is a string"[0:9:2] # step of 2

'Ti sa'

In [20]:
# If we specify a step of -1, 
# we start from the end and go to the start. 
# That's because python strings are circular:
"This is a string"[::-1]

'gnirts a si sihT'

In [21]:
# If we write sentence [:-1], 
# this returns all elements [:] except the last one: -1. 
# So this should drop the 'g' at the end of the sentence.
"This is a string"[:-1]

'This is a strin'

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of n characters has index n. For example:
+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
0___1___2___3___4___5___6
-6__-5__-4__-3__-2__-1___

In [22]:
"Python"[2:-1]

'tho'

In [23]:
# Print upper case
print("This is a string".upper())
# Print lower case
print("This is a string".lower())

THIS IS A STRING
this is a string

In [25]:
# Test if the string starts with ...
print("This is a string".startswith('This'))
print("This is a string".startswith('g'))
# Test if the string ends with ...
print("This is a string".endswith('.'))
print("This is a string".endswith('g'))

True
False
False
True

In [27]:
# Convert ints, floats type to string
str(3.14)

'3.14'

In [26]:
# You embed variables inside a string by using a special {} sequence and then put the variable you want inside the {} characters.
# You also must start the string with the letter f for “format”.
my_name = 'Yibei'
my_age = 24
my_school = 'Northeastern University'

print(f"Let's talk about {my_name}.")
print(f"He's {my_age} years old.")
print(f"He studies at {my_school}.")

Let's talk about Yibei.
He's 24 years old.
He studies at Northeastern University.

In [27]:
# Concatenate two strings like this...
w = "This is the left side of..."
e = "a string with a right side."
print(w + e)

This is the left side of...a string with a right side.

In [28]:
"#".join([w, e]) # [w, e]is a list with two elements (separated by a ,)

'This is the left side of...#a string with a right side.'

In [29]:
# one way to format the string
a = 42
print("The answer is %s" % ( a ))
print("The answer is %4.2f" % ( a )) # Means

The answer is 42
The answer is 42.00

In [30]:
# Use *
print("cold" * 10) # what'd that do?

coldcoldcoldcoldcoldcoldcoldcoldcoldcold

#### Another example for formatter
1. Take the formatter string defined on the first line.

2. Call its format function, which is similar to telling it to do a command line command named format.

3. Pass to format four arguments, which match up with the four {}s in the formatter variable. This is like passing arguments to the command line command format.

4. The result of calling format on formatter is a new string that has the {} replaced with the four variables. This is what print is now printing out.

In [31]:
print("{}".format("replace"))
print("{} is {}".format("Python", "easy!"))

replace
Python is easy!

In [32]:
formatter = "{} {} {} {}"
print(formatter.format(1, 2, 3, 4))
print(formatter.format("one", "two", "three", "four"))
print(formatter.format(True, False, False, True))
print(formatter.format(formatter, formatter, formatter, formatter))

1 2 3 4
one two three four
True False False True
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}

#### Line Break!
1. Use "\n" (new line character)
    This \ (backslash) character encodes difficult-to-type characters into a string. There are various escape sequences available for different characters you might want to use.
2. Use """something"""

In [8]:
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print("Here are the months:",months)

Here are the months: Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [35]:
print("""
There's something going on here...
We'll be able to type as much as we like.
With the three double-quotes.
""")

There's something going on here...
We'll be able to type as much as we like.
With the three double-quotes.

In [9]:
# We can still use the format!
print("""
There's something going on here...
We'll be able to type as much as we like.
With the {} double-quotes.
""".format("three"))

There's something going on here...
We'll be able to type as much as we like.
With the three double-quotes.

 An important escape sequence is to escape a single-quote (') or double-quote ("). Imagine you have a string that uses double-quotes and you want to put a double-quote inside the string. If you write "I "understand" joe." then Python will get confused because it will think the double-quotes around "understand" actually ends the string. You need a way to tell Python that the double-quote inside the string isn’t a real double-quote.

In [36]:
"I am 6'2\" tall."  # escape double-quote inside double-quote string

'I am 6\'2" tall.'

In [37]:
'I am 6\'2" tall.'  # escape single-quote inside single-quote string

'I am 6\'2" tall.'

See here for more escape sequences:
http://python-ds.com/python-3-escape-sequences

### 4. Functions
You can create a function by using the word def in Python.
1. We tell Python we want to make a function using def for “define.”
2. On the same line as def we give the function a name. In this case we just called it “print_two,” but it could also be "Cat". It doesn’t matter, except that your function should have a short name that says what it does.
3. We tell it we want *args (asterisk args), which means variable number of arguments. This has to go inside parentheses to work.
4. We end this line with a : (colon) and start indenting.
5. After the colon, all the lines that are indented four spaces will become attached to print_two. Our first indented line is one that unpacks the arguments, the same as with your scripts.
6. To demonstrate how it works we print these arguments out, just like we would in a script.

In [10]:
# Takes any number of arguments
def print_two(*args):
    arg1, arg2 = args
    print(f"arg1: {arg1}, arg2: {arg2}")
# Takes two arguments
def print_two_again(arg1, arg2):
    print(f"arg1: {arg1}, arg2: {arg2}")
# Takes just one arguments
def print_one(arg1):
    print(f"arg1: {arg1}")
# Takes no arguments
def print_none():
    print("I am so sad. I got nothing!")

In [11]:
print_two("Rui", "Wensi")
print_two_again("Rui", "Wensi")
print_one("Nakita")
print_none()

arg1: Rui, arg2: Wensi
arg1: Rui, arg2: Wensi
arg1: Nakita
I am so sad. I got nothing!

In [17]:
print_two("1","2","3")

1

In [18]:
def print_two2(*args):
    print(args[0])
    print(args[1])
print_two2("1","2","3")

1
2

In [40]:
def cat_and_dogs(cat_count, dog_count):
    print(f"You have {cat_count} cats!")
    print(f"You also have {dog_count} dogs!")
    print("You must be a really great person!\n")

print("We can just give the function numbers directly:")
cat_and_dogs(20, 30)


print("OR, we can use variables from our script:")
amount_of_cat = 10
amount_of_dog = 50

cat_and_dogs(amount_of_cat, amount_of_dog)


print("We can even do math inside too:")
cat_and_dogs(10 + 20, 5 + 6)


print("And we can combine the two, variables and math:")
cat_and_dogs(amount_of_cat + 100, amount_of_dog + 1000)

We can just give the function numbers directly:
You have 20 cats!
You also have 30 dogs!
You must be a really great person!

OR, we can use variables from our script:
You have 10 cats!
You also have 50 dogs!
You must be a really great person!

We can even do math inside too:
You have 30 cats!
You also have 11 dogs!
You must be a really great person!

And we can combine the two, variables and math:
You have 110 cats!
You also have 1050 dogs!
You must be a really great person!

In [41]:
# Q4. Write a function of your own design, and run it 3 different ways.

##### Function with returns

In [42]:
def add(a, b):
    print(f"Adding {a} and {b}")
    return a + b

In [43]:
# Q5. Write functions for subtract, multiply and divide
def subtract(a, b):
    ...
def multiply(a, b):
    ...
def divide(a, b):
    ...

In [44]:
# Call the functions like this!
a1 = add(20, 4)
a2 = subtract(70, 6)
a3 = multiply(30, 2)
a4 = divide(100, 2)

Adding 20 and 4

In [48]:
# Try to figure this out!
what = add(10, subtract(20, multiply(50, divide(180, 2))))

Adding 10 and None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [49]:
def break_words(stuff):
    """Takes in a full sentences and return separated words"""
    words = stuff.split(' ')
    return words
def sort_words(stuff):
    """Sorts the words"""
    return sorted(words)

In [50]:
# Q6. Complete this function using the two functions above
some_string = "I want a dog and two cats"
def sort_sentence(sentence):
    """Takes in a full sentence and returns the sorted words."""
    words = ...
    return ...
sort_sentence(some_string)

Ellipsis

    Functions can have positional as well as keyword arguments (with defaults, can be None if that's allowed / tested)

    Positional arguments must always come before keyword arguments

In [33]:
def some_function(a,b,c=5,d=1e3): 
    res = (a + b) * c * d
    return res
some_function(2,3)

25000.0

In [34]:
some_function(2, 3, c=5, d=0.01)

0.25

In [53]:
# Function with more than one outputs
def some_function(a, b): 
    return a+1, b+1, a*b
print(some_function(1,2))

# And the result is a tuple!
# tuple is like a list, but you can't modify the elements in it!
print(type(some_function(1,2)))

# Also you can have correct number of variables to catch the outputs
a,b,c = some_function(2,3)
print(a, b, c)

(2, 3, 2)
<class 'tuple'>
3 4 6

In [39]:
print(type((1, 2, 3)))
a, b, c = (1, 2, 3)
print(a, b, c)

<class 'tuple'>
1 2 3

In [41]:
# If the number of variables doesn't match the number of elements in the tuple 
# A ValueError is all you can get
# Don't do this!
a, b, c, d= (1, 2, 3)
a, b = (1, 2, 3)

ValueError: not enough values to unpack (expected 4, got 3)

### 5. Logic
In Python we have the following terms (characters and phrases) for determining if something is “True” or “False.” Logic on a computer is all about seeing if some combination of these characters and some variables is True at that point in the program.

• and

• or

• not

• != (not equal)

• == (equal)

• >= (greater-than-equal)

• <= (less-than-equal)

• True

• False

In [42]:
# Q7. Try to understand these logic problems
# 1. True and True
# 2. False and True
# 3. 1 == 1 and 2 == 1
# 4. "test" == "test"
# 5. 1 == 1 or 2 != 1
# 6. True and 1 == 1
# 7. False and 0 != 0
# 8. True or 1 == 1
# 9. "test" == "testing"
# 10. 1 != 0 and 2 == 1
# 11. "test" != "testing"
# 12. "test" == 1
# 13. not (True and False)
# 14. not (1 == 1 and 0 != 1)
# 15. not (10 == 1 or 1000 == 1000)
# 16. not (1 != 10 or 3 == 4)
# 17. not ("testing" == "testing" and "I" == "Cool Guy")
# 18. 1 == 1 and (not ("testing" == 1 or 1 == 0))
# 19. "chunky" == "bacon" and (not (3 == 4 or 3 == 3))
# 20. 3 == 3 and (not ("testing" == "testing" or "Python" == "Fun"))

In [43]:
True and True

False

##### If statement

In [44]:
# if expression:
#     ...

people = 20
cats = 30
dogs = 15

if people > cats:
    print("Not many cats! The world is doomed!")
if people < cats:
    print("Too many cats! The world is saved!")

if people < dogs:
    print("Too many dogs!")
if people > dogs:
    print("Not many dogs!")

Too many cats! The world is saved!
Not many dogs!

In [45]:
dogs += 5

if people >= dogs:
    print("People are greater than or equal to dogs.")
if people <= dogs:
    print("People are less than or equal to dogs.")
if people == dogs:
    print("People are dogs.")

People are greater than or equal to dogs.
People are less than or equal to dogs.
People are dogs.

In [46]:
# Elif and else
if people > dogs:
    print("People are greater than or equal to dogs.")
elif people < dogs:
    print("People are less than or equal to dogs.")
else:
    print("People are dogs.")

People are dogs.

### 6. Loops and Lists
    We are going to use a for-loop in this exercise to build and print various lists.
    A list is exactly what the name says: a container of things that are organized in order from first to last.
    for item in iterable: 
        expression(s)

In [59]:
the_count = [1, 2, 3, 4, 5]
fruits =['apples', 'oranges', 'pears', 'apricots']
change = [1, 'pennies', 2, 'dimes', 3, 'quarters']

# this first kind of for-loop goes through a list
for number in the_count:
    print(f"This is count {number}")
    
for fruit in fruits:
    print(f"A fruit of type: {fruit}")
    
# also we can go through mixed lists too
# notice we have to use {} since we don't know what's in it
for i in change:
    print(f"I got {i}")

This is count 1
This is count 2
This is count 3
This is count 4
This is count 5
A fruit of type: apples
A fruit of type: oranges
A fruit of type: pears
A fruit of type: apricots
I got 1
I got pennies
I got 2
I got dimes
I got 3
I got quarters

In [60]:
# we can also build lists, first start with an empty one
elements = []

# then use the range function to do 0 to 5 counts
for i in range(0, 6): # Mark
    print(f"Adding {i} to the list.")
    elements.append(i)

# now we can print them out too
for i in elements:
    print(f"Element was: {i}")
    
# Think! Could you have avoided that for-loop entirely on Mark and just assigned range(0,6) directly to elements?

Adding 0 to the list.
Adding 1 to the list.
Adding 2 to the list.
Adding 3 to the list.
Adding 4 to the list.
Adding 5 to the list.
Element was: 0
Element was: 1
Element was: 2
Element was: 3
Element was: 4
Element was: 5

In [61]:
# A try catch block
# You can see it as a generalization of the if ... else construction, 
# allowing more flexibility in handling failures in code
text = ('a','1','54.1','43.a')
for t in text:
    try:
        temp = float(t)
        print(temp)
    except ValueError:
        print(str(t) + ' is Not convertible to a float')

a is Not convertible to a float
1.0
54.1
43.a is Not convertible to a float

In [62]:
# The consequence of not having a try catch block if python throws an error!
text = ('a','1','54.1','43.a')
for t in text:
    temp = float(t)
    print(temp)

ValueError: could not convert string to float: 'a'

    Now to totally blow your mind with a new loop, the while-loop. A while-loop will keep executing the code block under it as long as a Boolean expression is True.
    Here’s the problem with while-loops: Sometimes they do not stop. This is great if your intention is to just keep looping until the end of the universe. Otherwise, you almost always want your loops to end eventually.

In [63]:
i = 0
numbers = []

while i < 10:
    print(f"At the top i is {i}")
    numbers.append(i)
    
    i = i + 1
    
    print("Numbers now: ", numbers)

print("The numbers: ")
for num in numbers:
    print(num)

At the top i is 0
Numbers now:  [0]
At the top i is 1
Numbers now:  [0, 1]
At the top i is 2
Numbers now:  [0, 1, 2]
At the top i is 3
Numbers now:  [0, 1, 2, 3]
At the top i is 4
Numbers now:  [0, 1, 2, 3, 4]
At the top i is 5
Numbers now:  [0, 1, 2, 3, 4, 5]
At the top i is 6
Numbers now:  [0, 1, 2, 3, 4, 5, 6]
At the top i is 7
Numbers now:  [0, 1, 2, 3, 4, 5, 6, 7]
At the top i is 8
Numbers now:  [0, 1, 2, 3, 4, 5, 6, 7, 8]
At the top i is 9
Numbers now:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The numbers:
0
1
2
3
4
5
6
7
8
9

In [64]:
# Q8. Convert this while-loop to a function that you can call, and replace 10 in the test (i < 10) with a variable.
#     Try different numbers with your function

##### Accessing elements of list

In [47]:
animals = ['bear', 'tiger', 'penguin', 'zebra']
bear = animals[0]
# Note that 0 in Python means the first element in a list
print(bear)

bear

In [48]:
print(animals[::-1]) ## same as animals.reverse() but it is NOT operating in place
print(animals)

['zebra', 'penguin', 'tiger', 'bear']
['bear', 'tiger', 'penguin', 'zebra']

In [49]:
animals.reverse()
print(animals)

['zebra', 'penguin', 'tiger', 'bear']

##### Doing Things to Lists

In [50]:
ten_things = "Apples Oranges Crows Telephone Light Sugar"
# Wait! No enough items in the list, we need to do something.
stuff = ten_things.split(' ')
more_stuff = ["Day", "Night", "Song", "Frisbee", "Corn", "Banana", "Girl", "Boy"]
while len(stuff) != 10:
    next_one = more_stuff.pop()
    print("Adding: ", next_one)
    stuff.append(next_one)
    print(f"There are {len(stuff)} items now.")

print("There we go: ", stuff)

Adding:  Boy
There are 7 items now.
Adding:  Girl
There are 8 items now.
Adding:  Banana
There are 9 items now.
Adding:  Corn
There are 10 items now.
There we go:  ['Apples', 'Oranges', 'Crows', 'Telephone', 'Light', 'Sugar', 'Boy', 'Girl', 'Banana', 'Corn']

In [69]:
# Let's do some things with stuff.

# Second element
print(stuff[1]) 

# Second element from last
print(stuff[-1])

# Return the last element and remove it from the list
print(stuff.pop())

# Build a string with items in the list and separate them with space
print(' '.join(stuff))

# Build a string with items from 3(included) to 5(not included) in the list and separate them with #
print('#'.join(stuff[3:5]))

# To learn more, take a data structure class!

Oranges
Corn
Corn
Apples Oranges Crows Telephone Light Sugar Boy Girl Banana
Telephone#Light

In [51]:
# A great way to build a list!
str_list = ['things', 'stuff', 'Brady']
['my ' + x for x in str_list]

['my things', 'my stuff', 'my Brady']

In [52]:
[x.upper() for x in str_list]

['THINGS', 'STUFF', 'BRADY']

In [53]:
[x+y for x,y in zip([1,2,3],[7,8,9])] # using zip (above)

[8, 10, 12]

In [54]:
[x + 6 if (x < 3) else x for x in [1,2,3,4,5]] # [7, 8, 3, 4, 5]

[7, 8, 3, 4, 5]

In [55]:
# The ugly way :(
for x in [1,2,3,4,5]:
    if (x < 3):
        print (x + 6)
    else:
        print(x)

7
8
3
4
5

##### Dictionary!
    You can use numbers to index into a list.
    A dict lets you use anything, not just numbers.

In [56]:
stuff = {'name': 'Yibei', 'age': 20 + 2 * 2}
print(stuff['name'])
print(stuff['age'])

Yibei
24

In [57]:
# We can put new things into the dictionary with strings.
stuff['city'] = "Boston"
print(stuff['city'])

Boston

In [58]:
# See if one key is in a dict or not
'city' in stuff

True

In [59]:
# Returns key/value pairs as list of tuples
stuff.items()

dict_items([('name', 'Yibei'), ('age', 24), ('city', 'Boston')])

In [60]:
# Returns list of keys
print(stuff.keys())
# Returns list of values
stuff.values()

dict_keys(['name', 'age', 'city'])

dict_values(['Yibei', 24, 'Boston'])

In [61]:
# If a key is not exist, there will be a error!
stuff['not exist']

KeyError: 'not exist'

In [62]:
# We can also use number as an index
stuff[1] = "Wow"
print(stuff)

{'name': 'Yibei', 'age': 24, 'city': 'Boston', 1: 'Wow'}

In [63]:
# We can delete something by
del stuff['city']
print(stuff)

{'name': 'Yibei', 'age': 24, 1: 'Wow'}

In [64]:
# Here we create a mapping of state to abbreviation
states = {
    'Oregon': 'OR',
    'Florida': 'FL',
    'California': 'CA',
    'New York': 'NY',
    'Michigan': 'MI'
}

# create a basic set of states and some cities in them
cities = {
    'CA': 'San Francisco',
    'MI': 'Detroit',
    'FL': 'Jacksonville'
}

# add some more cities
cities['NY'] = 'New York'
cities['OR'] = 'Portland'

In [84]:
# Q9. Complete these blanks (...)
# print out some cities
print('-' * 10)
print("NY State has: ", cities['NY'])
print("OR State has: ", ...)

# print some states
print('-' * 10)
print("Michigan's abbreviation is: ", states['Michigan'])
print("Florida's abbreviation is: ", ...)

# do it by using the state then cities dict
print('-' * 10)
print("Michigan has: ", cities[states['Michigan']])
print("Florida has: ", ...)

# print every state abbreviation
print('-' * 10)
for state, abbrev in list(states.items()):
    print(f"{state} is abbreviated {abbrev}")

# print every city in state
print('-' * 10)
for ... in list(...):
    print(f"{...} has the city {...}")

SyntaxError: can't assign to Ellipsis (<ipython-input-84-a2a591be95df>, line 24)

In [65]:
print('-' * 10)
# To safely get a abbreviation by state that might not be there, use:
state = states.get('Texas')

if not state:
    print("Sorry, no Texas.")

# get a city with a default value
city = cities.get('TX', 'Does Not Exist')
print(f"The city for the state 'TX' is: {city}")

----------
Sorry, no Texas.
The city for the state 'TX' is: Does Not Exist

##### Set!

In [72]:
empty_set = set()
print(empty_set)
empty_set.add(1)
print(empty_set)
empty_set.remove(1)
print(empty_set)

filled_set = {1, 2, 2, 3, 4}
print(filled_set)
filled_set.add(5) 
print(filled_set)

set()
{1}
set()
{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [73]:
# Do set intersection with &
other_set = {3, 4, 5, 6}
filled_set & other_set  # => {3, 4, 5}

{3, 4, 5}

In [74]:
# Do set union with |
filled_set | other_set  # => {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [75]:
# Do set difference with -
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}

{1, 4}

In [76]:
# Check if set on the left is a superset of set on the right
{1, 2} >= {1, 2, 3}  # => False

False

In [77]:
# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3}  # => True

True

In [78]:
# Check for existence in a set with in
print(2 in filled_set)  # => True
print(10 in filled_set)  # => False
print(10 not in filled_set) # => True

True
False
True

### 7. Objects
    A class is a way to take a grouping of functions and data and place them inside a container so you can access them with the . (dot) operator.

In [79]:
class MyClass(object):
    # Class can have a __init__ function
    # Python will call this function to initialize your newly created empty object.
    # self is an empty object Python made for you, and you can set variables on it.
    def __init__(self):
        self.thought = "I am thinking about a peach"
    # Define your own function like this
    def apple(self):
        print("Here's an apple!")

In [80]:
# When you instantiate a class what you get is called an object.
# You instantiate (create) a class by calling the class like it’s a function, like this:
thing = MyClass()
thing.apple()
print(thing.thought)

Here's an apple!
I am thinking about a peach

In [82]:
class Say(object):
    def __init__(self, words):
        self.words = words
    def tell_me(self):
        for line in self.words:
            print(line)

sentence1 = Say(["apple", "banana", "blueberry"])
sentence1.tell_me()

# Try to init another object and say something else
...

apple
banana
blueberry

Ellipsis

Read this if you want to know more about OOP in Python
https://realpython.com/python3-object-oriented-programming/

### 8. Imports

In [3]:
# Shows all the valiables we declared in the notebook or imported from external files!
%whos

Variable   Type      Data/Info
------------------------------
this       module    <module 'this' from 'C:\\<...>Anaconda3\\lib\\this.py'>

In [2]:
import this
# dir() yeilds the functions. Note there are buiilt-in functions, too.
dir(this)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'c',
 'd',
 'i',
 's']

In [4]:
# And we can get help information from the module, 
# which consits of the triple-quoted comment string for each defined function.
help(this)

Help on module this:

NAME
    this

DATA
    c = 97
    d = {'A': 'N', 'B': 'O', 'C': 'P', 'D': 'Q', 'E': 'R', 'F': 'S', 'G': ...
    i = 25
    s = "Gur Mra bs Clguba, ol Gvz Crgref\n\nOrnhgvshy vf o...bar ubaxvat ...

FILE
    c:\users\cyrus\anaconda3\lib\this.py

In [5]:
# A variable in the module:
print(this.c)
# A dict in the module:
print(this.d)

97
{'A': 'N', 'B': 'O', 'C': 'P', 'D': 'Q', 'E': 'R', 'F': 'S', 'G': 'T', 'H': 'U', 'I': 'V', 'J': 'W', 'K': 'X', 'L': 'Y', 'M': 'Z', 'N': 'A', 'O': 'B', 'P': 'C', 'Q': 'D', 'R': 'E', 'S': 'F', 'T': 'G', 'U': 'H', 'V': 'I', 'W': 'J', 'X': 'K', 'Y': 'L', 'Z': 'M', 'a': 'n', 'b': 'o', 'c': 'p', 'd': 'q', 'e': 'r', 'f': 's', 'g': 't', 'h': 'u', 'i': 'v', 'j': 'w', 'k': 'x', 'l': 'y', 'm': 'z', 'n': 'a', 'o': 'b', 'p': 'c', 'q': 'd', 'r': 'e', 's': 'f', 't': 'g', 'u': 'h', 'v': 'i', 'w': 'j', 'x': 'k', 'y': 'l', 'z': 'm'}

In [6]:
# creating shortcuts to the module:
import this as ti
ti.c

97

In [7]:
import numpy as np

In [8]:
np.

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)